<div class="text-primary text-center my-5">
    <h4>{{title}}</h4>
</div>
<table class="table table-hover table-bordered mt-3" *ngIf="!isUpdating">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone number</th>
            <th>Job Title</th>
            <th>Company</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody *ngIf="contacts.length === 0">
        <tr>
            <td colspan="6">No records found.</td>
        </tr>
    </tbody>
    <tbody>
        <tr *ngFor="let contact of contacts">
            <td>{{contact.name}}</td>
            <td>{{contact.email}}</td>
            <td>{{contact.phone}}</td>
            <td>{{contact.jobtitle}}</td>
            <td>{{contact.company}}</td>
            <td><button class="btn btn-sm btn-primary" routerLink="/contactApp/edit/{{contact._id}}">
                    <i class="fa fa-pencil"></i>
                </button>
                <button class="btn btn-sm btn-danger ml-1 mt-1 mt-md-0" (click)="deleteContact(c)">
                    <i class="fa fa-trash"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>